#fh5co-logo{
    margin-top:12px;
    margin-bottom: 12px;
}
.top-header{min-height: 20px; width: 100%; background-color: #333; color:#fff;}
.top-header p{color:#fff}
.m-0{margin:0 !important}
.mb-0{margin-bottom:0 !important}
.mt-0{margin-top:0 !important}

.p-0{padding:0 !important}
.pb-0{padding-bottom:0 !important}
.pt-0{padding-top:0 !important}
.pt-5{padding-top:50px !important}
.pl-2{padding-left:20px !important}

.top-social-links a{
    margin: 0 3px;
    color: #fff;
}
.top-social-links a:hover{
    color: #F78536;
}
.blog-box .blog-img{
    width: auto !important;
    height: 320px;
    margin: 0 auto;
}
.fh5co-blog .blog-text{padding: 15px; height: 250px;}
.blog-image img{width: 100%; height: auto;}
.blog-title{    
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.page-title{    
    margin-top: 20px;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
.blog-tag{
    margin-bottom: 30px;
    color: #000;
}
.blog-description p{
    font-size: 17px;
    color: #000 !important;
    text-align: justify;
}
.nav-tabs .active a, .btn.btn-primary{
    background: #00aeef !important;
}
a{
    color: #00aeef;
}
.tabulation input[type="text"]{
    color: #00aeef !important;
}
.btn.btn-outline{
    border: 2px solid #00aeef !important;
    color: #fff;
}
.btn.btn-outline:hover, .btn.btn-outline:focus, .btn.btn-outline:active{
    background: #026e97 !important;
    border: 2px solid #026e97 !important;
}